{% extends "base.html" %}

{% block title %}
  password_resent_sent
{% endblock title %}

{% block content %}

  <section class="password_done">
    <div class="container my-4">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header display-5">Password reset complete</div>
            <div class="card-body">
              <p class="lead my-3">
                Your Password has been set. You may go ahead and login
              </p>
              <a href="{% url 'login' %}">Login</a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </section>
  
{% endblock content %}